@charset "UTF-8";

.addPersonIcon {
	position:fixed;
	bottom:15px;
	right:15px;
}

.editPersonIcon {
	position: absolute;
	right:10px;
	bottom:0px;
}

.lebensdatenHeading {
	position: absolute;
	float: left;
}

.lebensdatenHeadingBox {
	position: relative;
	width: 100%;
	height:100px;
}

.wichtigeLebensdaten {
	float:left;
	width: 85%;	
	margin-right: 500px;
	
}

.nahansichtGesamtTabelle {
	table-layout: auto;
}
.nahansichtTextinput {
	margin-left: 2.5%;
	width: 80%;
}









.tree {
	--last-child-width: 50%;
	--personBox-height:80px;
	--personBox-width: 100px;
	
	
}

.personBox {
	text-align: center;
	height: var(--personBox-height);
	width:  var(--personBox-width);
	margin: 5px;
	border: 1px solid black;
	background-color: #E56366;
	margin-top:100px;
	
	 
}

.couple {
	width:calc(var(--personBox-width)*2.5);
	display: flex; 
    justify-content: center; 
    align-items: center;
	margin: 0 auto;
}

.cp1 {
	float:left;
}
.cp2{
	float:right;
}

li .personBox {

}

 li:nth-child(2) .personBox{
     /* background-color: red; */
 }

li:last-child .personBox	{
  margin: auto;
  

  padding: 10px;
}

ul > li > div   .personBox{
        border: 1px solid black;
	    margin-left: 100px;
}

ul > li > ul{;
		float:left;
		margin-top:20px;
	    margin-left: 100px;
	
}

ul > li > ul > li{
		float:left;
		margin-top:20px;
	    
	
}


