@charset "UTF-8";

.addPersonIcon {
	position:fixed;
	bottom:15px;
	right:15px;
}

.editPersonIcon {
	position: absolute;
	right:10px;
	bottom:0px;
}

.lebensdatenHeading {
	position: absolute;
	float: left;
}

.lebensdatenHeadingBox {
	position: relative;
	width: 100%;
	height:100px;
}

.wichtigeLebensdaten {
	float:left;
}

.nahansichtGesamtTabelle {
	table-layout: auto;
}
