@charset "UTF-8";


svg {
	height: 100%;
	width: 100%;
	cursor: grab;
	cursor : -o-grab;
	cursor : -moz-grab;
	cursor : -webkit-grab;
}

rect {
	fill: #f5f5f5;
	stroke: #424242;
	cursor: pointer;
	cursor : -o-pointer;
	cursor : -moz-pointer;
	cursor : -webkit-pointer;
}
text {
	fill: #000;
	font-size: 20;
	font-family: "Arial", sans-serif;
	cursor: pointer;
	cursor : -o-pointer;
	cursor : -moz-pointer;
	cursor : -webkit-pointer;
}

line {
	stroke: black;
	stroke-width: 1;
}

.stammblattHeading {
	margin-left:10%;
	float:left;
	width:80%;
}

.editBtn{
	position:absolute;
	right:10%;
	width: 50px; 
	height: 50px;

}

.editBtn:hover{
	background-color:#D1D1D1;
}

.editIcon {
	position:absolute;
    top:10px;
    left:13px;
	width: 25px; 
	height: 25px;
}

.indexBox {
	margin: 0 auto;
	margin-top:3%;
	height:200px;
	width:40%;
	border: 0px solid black;
}

.famChooser {
	margin-left: 125px;
}


.addPersonIcon {
	position:fixed;
	bottom:15px;
	right:15px;
}


.lebensdatenHeading {
	position: absolute;
	float: left;
}

.lebensdatenHeadingBox {
	position: relative;
	width: 100%;
	height:100px;
}

.wichtigeLebensdaten {
	float:left;
	width: 85%;	
	margin-right: 500px;
	
}

.nahansichtGesamtTabelle {
	width:80%;
	margin-left: 10%;
}
.nahansichtButtons {
	align=right;
	margin-right:10%
}

.navBar {
	font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
}
.logo {
	margin-left: 10px;	
	/*font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";*/
	font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
}







.tree {
	--last-child-width: 50%;
	--personBox-height:80px;
	--personBox-width: 50px;
	height: 90vh;
	width: 100%;
	
}

.personBox {
	text-align: center;
	height: 90px;
	width:  5.5%;
	margin: 5px;
	/*border: 1px solid black;*/
	background-color: #DADADA;
	margin-top:100px;
	position:absolute;
	 
}

.inWidth {
	width:250px;
	disply:block;
}



.image	{
	margin-left: 40%;
	width:20%;
	margin-top: 5%;
}

